<style>
	td {
		padding: 8px;
		font-family: Arial;
	}
	
	html {
		background: #FFFFE3;
		color: #3D035B;
	}
	
	table{
		border-radius: 6px;
		background:#D27AFF;
		width: 25%;
		height: 30%;
		text-align: center;
	}
	
	button{
		border-radius: 4px;
		background: #E6B5FF;
		padding: 8px;
	}
	
	button:hover, button:active, button:focus {
		background: #3D035B;
		color: #E6B5FF;
	}
</style>

<table align="center" style="margin-top:25%">
	<tr>
		<td colspan=50>
			{{ action }}
		</td>
	{% for i in mas_ind %}
		{% if i % 20 == 0 %}
           </tr><tr>
        {% endif %}
		<td id="{{ i }}">{{ mas[i] }}</td>
    {% endfor %}
	</tr>
	<tr>
		<td colspan=50>
			Индекс заданного числа: {{ found_ind }}!
			<small> *-1 означает, что числа нет в списке </small>
		</td>
	</tr>
	<tr>
		<td colspan=50>
			<button onclick="window.location.href = 'task4_input.html';">Вернуться</button>
		</td>
	</tr>
</table>