<style>
	td {
		padding: 8px;
		font-family: Arial;
	}
	
	html {
		background: #FFFFE3;
		color: #3D035B;
	}
	
	table{
		border-radius: 6px;
		background:#D27AFF;
		width: 25%;
		height: 30%;
		text-align: center;
	}
	
	input{
		border-radius: 4px;
		background: #E6B5FF;
	}

	button{
		border-radius: 4px;
		background: #E6B5FF;
		padding: 8px;
	}
	
	button:hover, button:active, button:focus {
		background: #3D035B;
		color: #E6B5FF;
	}
</style>

<table align="center" style="margin-top:12%">
	<tr>
		<td style= "vertical-align:bottom;">
			Введите искомое число (от 0 до 200):
		</td>
	</tr>
	<form action="task4_output.html" method="GET">
		<tr>
			<td style= "vertical-align:top;">
				<input type="number" name="number" min="0" max="200" style="width: 100%" />
			</td>
		</tr>
		<tr>
			<td>
				<button type="submit">Найти</button>
			</td>
		</tr>
	</form>
</table>